<a href="https://colab.research.google.com/github/CastilloKarlHarold/CPEN21A-PLD-1-1/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

```
# This is formatted as code
```

In [3]:
#determining if six is greater than 1
if 6>1:
  print("6 is greater than 1")  #this indentation means the syntax is correct

6 is greater than 1

Variable Declaration

In [2]:
#variable with sigle value
x=5
y=3
if x>y:
  print("x is greater than 1")
else:
  print("y is greater than x")

#variable with multiple value
a,b = 1,2
print("the value of a is:",a)
print("the value of b is:",b)

x is greater than 1
the value of a is: 1
the value of b is: 2

One Value to Multiple Variables

In [4]:
#Multiple variables with a single value
p=q=r= "sir"
print(p)
print(q)
print(r)

sir
sir
sir

Casting and Type() Function

In [5]:
f=int(4)  #integer
g=float(4)  #decimal/fractional

#f value and type
print(f)
print(type(f))
#g value and type
print(g)
print(type(g))

4
<class 'int'>
4.0
<class 'float'>

Double Quote or Single Quote

In [6]:
name= "Harold"
name1= 'Castillo'
print(name, name1)

Harold Castillo

Case Sentitive

In [7]:
#variables are case sensitive
a= "Ana"
print(a)
A= "John"
print(A)

Ana
John

Output Variable

In [10]:
o= " is fun"
#append is enjoying
print("Python programming"+""+o)   #use another + to put apace

Python programming is fun

Other way:

In [12]:
o= "fun"
t= "Python is "
z= t + o
print(z)

Python is fun