<a href="https://colab.research.google.com/github/CastilloKarlHarold/CPEN21A-PLD-1-1/blob/main/Python_as_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Function Calls

abs(-4.5)

4.5

In [ ]:
#Function Calls other Function

pow(abs(-2),round(4.5))  #pow(2,4)

16

In [ ]:
#Type Code Function

int(4.5)
float(4)

4.0

In [ ]:
#Defining Own Function

def convert_to_celcius(fahrenheit):
  celcius = (fahrenheit-32)*5/9
  return celcius 

fahrenheit = float(input("Enter a number in fahrenheit:"))

f=convert_to_celcius(fahrenheit)
print(round(f,2))

Enter a number in fahrenheit:100
37.78

##Exercises

#a. min(2,3,4)

In [1]:
num = [2,3,4]

#using min() function
min_num = min(num)
print("Minimun number in the list is:", min_num)

Minimun number in the list is: 2

##b. max(2,-3,4,7,-5)

In [2]:
num = {2,-3,4,7,-5}

#using max() function
max_num = max(num)
print("Maximum number in the list is:", max_num)

Maximum number in the list is: 7

##c. max(2,-3, min(4,7),-5)

In [10]:
num = {2,-3,4,7,-5}
if min_num: num = [4,7]

#using max() function
max_num = max(num)
min_num = min(num)
print("Maximum number in the list is:", max_num)
print("Minimum number in the list is:", min_num)

Maximum number in the list is: 7
Minimum number in the list is: 4